# ===================================================================
# IAToolkit Company Configuration for: sample_company
# Location: companies/sample_company/config/company.yaml
# ===================================================================

# 1. General Company Information
id: "sample_company"
name: "Sample Company"
locale: "es_ES"
llm:
  model: "gpt-5-mini"
  api-key: "OPENAI_API_KEY"

# embedding_provider:
#  provider: "huggingface"
#  model: "sentence-transformers/all-MiniLM-L6-v2"
#  api_key_name: "HF_TOKEN"

embedding_provider:
  provider: "openai"
  model: "text-embedding-ada-002"
  api_key_name: "OPENAI_API_KEY"


parameters:
  cors_origin:
    - "https://portal-interno.empresa_de_ejemplo.cl"
  user_feedback:
    channel: "email"
    destination: "fernando.libedinsky@gmail.com"
  external_urls:
    logout_url: ""

# 2. Data Sources
data_sources:
  sql:
    - database: "sample_database"
      connection_string_env: "SAMPLE_DATABASE_URI"
      description: |
        Esta es la base de datos principal de  Sample Company.
        Contiene toda la información comercial y operativa la empresa.
        Es la fuente principal para responder preguntas sobre ventas, despachos,
        ordenes de compra, empleados, paises y territorios.

      # Loads all the databases tables automatically
      include_all_tables: true
      # ...but ignore these specific tables
      exclude_tables:
        - "test_table"
        - "logs"
      # exclude these columns from all tables
      exclude_columns: [ 'created', 'updated' ]
      #    El servicio usará esta sección para añadir detalles a las tablas
      #    que se cargaron automáticamente con 'include_all_tables'.
      tables:
        employee_territories:
          # Para esta tabla, usa un nombre de esquema personalizado.
          schema_name: "employee_territory"

        orders:
          # Para la tabla 'orders', ignora la lista global 'exclude_columns'
          # y usa esta lista más específica en su lugar.
          exclude_columns: [ 'internal_notes', 'processing_id' ]

        products:
          # Para la tabla 'products', no hay overrides, pero podríamos
          # añadir una descripción personalizada aquí si quisiéramos.
          description: "Catálogo de productos de la compañía."


# 3. Tools (Functions)
# Defines the custom actions the LLM can take, including their parameters.
tools:
  - function_name: "document_search"
    description: "Busquedas sobre documentos: manuales, contratos de trabajo de empleados, manuales de procedimientos, y documentos legales."
    params:
      type: "object"
      properties:
        query:
          type: "string"
          description: "Texto o pregunta a buscar en los documentos."
      required: ["query"]

# 4. Prompts
# Defines the ordered list of categories and the prompts available in the UI.
prompt_categories:
  - "General"
  - "Análisis Avanzado"     # sample for adding more categories

prompts:
  - category: "General"     # assign this prompt to the category "General"
    name: "analisis_ventas"
    description: "Analisis de ventas"
    order: 1
  - category: "General"
    name: "supplier_report"
    description: "Análisis de proveedores"
    order: 2
    custom_fields:
      - data_key: "supplier_id"
        label: "Identificador del Proveedor"
  - category: "General"
    name: "analisis_despachos"
    description: "Analisis de despachos"
    order: 3
    custom_fields:
      - data_key: "init_date"
        label: "Fecha desde"
        type: "date"
      - data_key: "end_date"
        label: "Fecha hasta"
        type: "date"

# 5. Branding and Content Files
branding:
  header_background_color: "#4C6A8D"
  header_text_color: "#FFFFFF"
  brand_primary_color: "#4C6A8D"
  brand_secondary_color: "#9EADC0"
  brand_text_on_primary: "#FFFFFF"
  brand_text_on_secondary: "#FFFFFF"

# 6. Help files
help_files:
  onboarding_cards: "onboarding_cards.yaml"
  help_content: "help_content.yaml"


# 7. Knowledge Base (RAG)
# Defines the sources of unstructured documents for indexing.
knowledge_base:

  # 7.1. Connectors
  # Defines how to connect to the document storage for different environments.
  # El comando 'load' usará el conector apropiado según el FLASK_ENV.
  connectors:
    development:
      type: "local"
    production:
      type: "s3"
      bucket: "iatoolkit"
      prefix: "sample_company"
      aws_access_key_id_env: "AWS_ACCESS_KEY_ID"
      aws_secret_access_key_env: "AWS_SECRET_ACCESS_KEY"
      aws_region_env: "AWS_REGION"

  # 7.2. Document Sources
  # A map defining the logical groups of documents to be indexed.
  # Cada clave es un tipo de fuente, que contiene su ubicación y metadatos.
  document_sources:
    supplier_manuals:
      path: "companies/sample_company/sample_data/supplier_manuals"
      # Metadatos que se aplicarán a todos los documentos de esta fuente.
      metadata:
        type: "supplier_manual"

    employee_contracts:
      path: "companies/sample_company/sample_data/employee_contracts"
      metadata:
        type: "employee_contract"
